p {
  color:white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

h1 {
  color:white;
  font-size: 50px;
  text-align: center;
}

img {
  width:25%;
  height:25%;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-top:10px;
}

body {
  background-color: #cccccc;
  background-image: url("http://www.zastavki.com/pictures/originals/2015/Nature_Scuba_diving_094446_.jpg");
}
