h1 {
  text-align: center;
  font-size: 50px;
}

p {
  font-size: 15px;
  text-decoration-style: solid;
  text-align: center;
  font-family: fantasy;
  line-height: normal;
}

body{
  background-color: green;
}

img {
  height:30%;
  width:30%;
}
